---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/chalkos/patronus-testing/collaborators/bundlerbot
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token chalkos_token
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1471116146'
      X-Oauth-Scopes:
      - read:org, read:repo_hook, repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 13 Aug 2016 18:28:15 GMT
- request:
    method: get
    uri: https://api.github.com/repos/chalkos/patronus-testing/pulls/12
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token bundlerbot_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1471116496'
      Etag:
      - W/"1b37a8b59b51a75243812b9b200c40bb"
      Last-Modified:
      - Thu, 28 Jul 2016 10:16:47 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/chalkos/patronus-testing/pulls/12","id":78151503,"html_url":"https://github.com/chalkos/patronus-testing/pull/12","diff_url":"https://github.com/chalkos/patronus-testing/pull/12.diff","patch_url":"https://github.com/chalkos/patronus-testing/pull/12.patch","issue_url":"https://api.github.com/repos/chalkos/patronus-testing/issues/12","number":12,"state":"closed","locked":false,"title":"auth
        changes","user":{"login":"chalkos","id":98429,"avatar_url":"https://avatars.githubusercontent.com/u/98429?v=3","gravatar_id":"","url":"https://api.github.com/users/chalkos","html_url":"https://github.com/chalkos","followers_url":"https://api.github.com/users/chalkos/followers","following_url":"https://api.github.com/users/chalkos/following{/other_user}","gists_url":"https://api.github.com/users/chalkos/gists{/gist_id}","starred_url":"https://api.github.com/users/chalkos/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/chalkos/subscriptions","organizations_url":"https://api.github.com/users/chalkos/orgs","repos_url":"https://api.github.com/users/chalkos/repos","events_url":"https://api.github.com/users/chalkos/events{/privacy}","received_events_url":"https://api.github.com/users/chalkos/received_events","type":"User","site_admin":false},"body":"this
        PR does auth changes","created_at":"2016-07-20T13:57:38Z","updated_at":"2016-07-20T14:13:04Z","closed_at":"2016-07-20T14:13:04Z","merged_at":null,"merge_commit_sha":"65a793736b6d0db98fb0736eb1913220bc88521d","assignee":null,"assignees":[],"milestone":null,"commits_url":"https://api.github.com/repos/chalkos/patronus-testing/pulls/12/commits","review_comments_url":"https://api.github.com/repos/chalkos/patronus-testing/pulls/12/comments","review_comment_url":"https://api.github.com/repos/chalkos/patronus-testing/pulls/comments{/number}","comments_url":"https://api.github.com/repos/chalkos/patronus-testing/issues/12/comments","statuses_url":"https://api.github.com/repos/chalkos/patronus-testing/statuses/59bdd46316150a12835af8bb5abe87249b63cc5f","head":{"label":"chalkos:chalkos-patch-9","ref":"chalkos-patch-9","sha":"59bdd46316150a12835af8bb5abe87249b63cc5f","user":{"login":"chalkos","id":98429,"avatar_url":"https://avatars.githubusercontent.com/u/98429?v=3","gravatar_id":"","url":"https://api.github.com/users/chalkos","html_url":"https://github.com/chalkos","followers_url":"https://api.github.com/users/chalkos/followers","following_url":"https://api.github.com/users/chalkos/following{/other_user}","gists_url":"https://api.github.com/users/chalkos/gists{/gist_id}","starred_url":"https://api.github.com/users/chalkos/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/chalkos/subscriptions","organizations_url":"https://api.github.com/users/chalkos/orgs","repos_url":"https://api.github.com/users/chalkos/repos","events_url":"https://api.github.com/users/chalkos/events{/privacy}","received_events_url":"https://api.github.com/users/chalkos/received_events","type":"User","site_admin":false},"repo":{"id":61953147,"name":"patronus-testing","full_name":"chalkos/patronus-testing","owner":{"login":"chalkos","id":98429,"avatar_url":"https://avatars.githubusercontent.com/u/98429?v=3","gravatar_id":"","url":"https://api.github.com/users/chalkos","html_url":"https://github.com/chalkos","followers_url":"https://api.github.com/users/chalkos/followers","following_url":"https://api.github.com/users/chalkos/following{/other_user}","gists_url":"https://api.github.com/users/chalkos/gists{/gist_id}","starred_url":"https://api.github.com/users/chalkos/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/chalkos/subscriptions","organizations_url":"https://api.github.com/users/chalkos/orgs","repos_url":"https://api.github.com/users/chalkos/repos","events_url":"https://api.github.com/users/chalkos/events{/privacy}","received_events_url":"https://api.github.com/users/chalkos/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/chalkos/patronus-testing","description":"Testing
        https://github.com/patronus-io/patronus","fork":false,"url":"https://api.github.com/repos/chalkos/patronus-testing","forks_url":"https://api.github.com/repos/chalkos/patronus-testing/forks","keys_url":"https://api.github.com/repos/chalkos/patronus-testing/keys{/key_id}","collaborators_url":"https://api.github.com/repos/chalkos/patronus-testing/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/chalkos/patronus-testing/teams","hooks_url":"https://api.github.com/repos/chalkos/patronus-testing/hooks","issue_events_url":"https://api.github.com/repos/chalkos/patronus-testing/issues/events{/number}","events_url":"https://api.github.com/repos/chalkos/patronus-testing/events","assignees_url":"https://api.github.com/repos/chalkos/patronus-testing/assignees{/user}","branches_url":"https://api.github.com/repos/chalkos/patronus-testing/branches{/branch}","tags_url":"https://api.github.com/repos/chalkos/patronus-testing/tags","blobs_url":"https://api.github.com/repos/chalkos/patronus-testing/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/chalkos/patronus-testing/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/chalkos/patronus-testing/git/refs{/sha}","trees_url":"https://api.github.com/repos/chalkos/patronus-testing/git/trees{/sha}","statuses_url":"https://api.github.com/repos/chalkos/patronus-testing/statuses/{sha}","languages_url":"https://api.github.com/repos/chalkos/patronus-testing/languages","stargazers_url":"https://api.github.com/repos/chalkos/patronus-testing/stargazers","contributors_url":"https://api.github.com/repos/chalkos/patronus-testing/contributors","subscribers_url":"https://api.github.com/repos/chalkos/patronus-testing/subscribers","subscription_url":"https://api.github.com/repos/chalkos/patronus-testing/subscription","commits_url":"https://api.github.com/repos/chalkos/patronus-testing/commits{/sha}","git_commits_url":"https://api.github.com/repos/chalkos/patronus-testing/git/commits{/sha}","comments_url":"https://api.github.com/repos/chalkos/patronus-testing/comments{/number}","issue_comment_url":"https://api.github.com/repos/chalkos/patronus-testing/issues/comments{/number}","contents_url":"https://api.github.com/repos/chalkos/patronus-testing/contents/{+path}","compare_url":"https://api.github.com/repos/chalkos/patronus-testing/compare/{base}...{head}","merges_url":"https://api.github.com/repos/chalkos/patronus-testing/merges","archive_url":"https://api.github.com/repos/chalkos/patronus-testing/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/chalkos/patronus-testing/downloads","issues_url":"https://api.github.com/repos/chalkos/patronus-testing/issues{/number}","pulls_url":"https://api.github.com/repos/chalkos/patronus-testing/pulls{/number}","milestones_url":"https://api.github.com/repos/chalkos/patronus-testing/milestones{/number}","notifications_url":"https://api.github.com/repos/chalkos/patronus-testing/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/chalkos/patronus-testing/labels{/name}","releases_url":"https://api.github.com/repos/chalkos/patronus-testing/releases{/id}","deployments_url":"https://api.github.com/repos/chalkos/patronus-testing/deployments","created_at":"2016-06-25T17:03:21Z","updated_at":"2016-06-25T17:03:21Z","pushed_at":"2016-08-13T15:34:37Z","git_url":"git://github.com/chalkos/patronus-testing.git","ssh_url":"git@github.com:chalkos/patronus-testing.git","clone_url":"https://github.com/chalkos/patronus-testing.git","svn_url":"https://github.com/chalkos/patronus-testing","homepage":null,"size":7,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":5,"forks":0,"open_issues":5,"watchers":0,"default_branch":"master"}},"base":{"label":"chalkos:master","ref":"master","sha":"93bc2fd55133e58a9a662b99b8f77720e2378b92","user":{"login":"chalkos","id":98429,"avatar_url":"https://avatars.githubusercontent.com/u/98429?v=3","gravatar_id":"","url":"https://api.github.com/users/chalkos","html_url":"https://github.com/chalkos","followers_url":"https://api.github.com/users/chalkos/followers","following_url":"https://api.github.com/users/chalkos/following{/other_user}","gists_url":"https://api.github.com/users/chalkos/gists{/gist_i[...]
- request:
    method: get
    uri: https://api.github.com/repos/chalkos/patronus-testing/commits/40d1e58d69628950ed865a2ca5a49bcede85e990/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token bundlerbot_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1471116496'
      Etag:
      - W/"6adfb34c96aac6a4c426cf1344c85770"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo, repo:status
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"state":"failure","statuses":[{"url":"https://api.github.com/repos/chalkos/patronus-testing/statuses/40d1e58d69628950ed865a2ca5a49bcede85e990","id":660104187,"state":"failure","description":"The
        Travis CI build failed","target_url":"https://travis-ci.org/chalkos/patronus-testing/builds/146114767","context":"continuous-integration/travis-ci/push","created_at":"2016-07-20T14:00:43Z","updated_at":"2016-07-20T14:00:43Z"}],"sha":"40d1e58d69628950ed865a2ca5a49bcede85e990","total_count":1,"repository":{"id":61953147,"name":"patronus-testing","full_name":"chalkos/patronus-testing","owner":{"login":"chalkos","id":98429,"avatar_url":"https://avatars.githubusercontent.com/u/98429?v=3","gravatar_id":"","url":"https://api.github.com/users/chalkos","html_url":"https://github.com/chalkos","followers_url":"https://api.github.com/users/chalkos/followers","following_url":"https://api.github.com/users/chalkos/following{/other_user}","gists_url":"https://api.github.com/users/chalkos/gists{/gist_id}","star[...]
- request:
    method: get
    uri: https://api.github.com/repos/chalkos/patronus-testing/statuses/59bdd46316150a12835af8bb5abe87249b63cc5f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token bundlerbot_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1471116496'
      Etag:
      - W/"00b3719a53cf7404bfc3bd19ba58ecd0"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo, repo:status
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/chalkos/patronus-testing/statuses/59bdd46316150a12835af8bb5abe87249b63cc5f","id":660103787,"state":"failure","description":"The
        Travis CI build failed","target_url":"https://travis-ci.org/chalkos/patronus-testing/builds/146114622","context":"continuous-integration/travis-ci/pr","created_at":"2016-07-20T14:00:30Z","updated_at":"2016-07-20T14:00:30Z","creator":{"login":"chalkos","id":98429,"avatar_url":"https://avatars.githubusercontent.com/u/98429?v=3","gravatar_id":"","url":"https://api.github.com/users/chalkos","html_url":"https://github.com/chalkos","followers_url":"https://api.github.com/users/chalkos/followers","following_url":"https://api.github.com/users/chalkos/following{/other_user}","gists_url":"https://api.github.com/users/chalkos/gists{/gist_id}","starred_url":"https://api.github.com/users/chalkos/starred{/owner}{/repo}","subscriptions_ur[...]
